services:
  postgres:
    image: "postgres:17"
    restart: always 
    environment:
      POSTGRES_PASSWORD: postgres 
      POSTGRES_USER: postgres
    ports: 
      - "9999:5432"
    volumes:
      - ./db/data:/var/lib/postgresql/data
      - ./db/init.sql:/docker-entrypoint-initdb.d/init.sql
  api:
    build:
      context: ./demo1
      dockerfile: DockerFile.api
    ports:
      - "8080:8080"
    environment:
      DB_URL: jdbc:postgresql://postgres:5432/postgres
      DB_USERNAME: postgres
      DB_PASSWORD: postgres
    depends_on:
      - postgres
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile.frontend
    ports:
      - "5173:5173"
    environment:
      API_URL: "http://api:8080/"
    depends_on:
      - api
  nginx:
    image: nginx:latest
    ports:
     - "80:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - frontend
      - api
