services:
  postgres:
    image: "postgres:17"
    restart: always 
    environment:
      POSTGRES_PASSWORD: postgres 
      POSTGRES_USER: postgres
    ports: 
      - "9999:5432"
    volumes:
      - ./db/data:/var/lib/postgresql/data
      - ./db/init.sql:/docker-entrypoint-initdb.d/init.sql
